@font-face {
    font-family: 'Bordo';
    src: url('./fonts/docktrin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.titulo h1 {
    font-family: 'Bordo', Times, serif;
    font-style: normal;
}
